window {
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
    border: none;
    background-color: rgba(22, 50, 53, 0.0);
}

#input {
    margin: 2px;
    border: none;
    color: #ffffff;
    background-color: rgba(200, 8, 12, 0.3);
    border-radius: 0px;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

#outer-box {
    margin: 8px;
    border: 2px solid rgba(22, 50, 53, 0.0);
    background-color: rgba(22, 50, 53, 0.0);
    border-radius: 0px 0px 0px 0px;
}

#text {
    margin: 5px;
    border: none;
    color: #eeaaaa;
}

#entry:selected {
    background-color: rgba(150, 8, 12, 0.1);
    border: 2px solid #cc1110;
    border-radius: 0px;
}

list {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}
